{% extends "base.html" %}

{% block head_extra %}
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 40px;
            display: flex;
            justify-content: center;
        }

        .main-content {
            display: flex;
            gap: 40px;
            align-items: flex-start;
        }


        .form-container {
            background-color: white;
            padding: 30px;
            border-radius: 12px;
            box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
            width: 300px;
            transition: all 0.3s ease;
        }

        .result-container {
            background-color: #fff;
            padding: 30px;
            border-radius: 12px;
            box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
            width: 300px;
            display: none;
        }

        h2 {
            margin-bottom: 25px;
            color: #333;
            text-align: center;
        }

        h3 {
            margin-top: 25px;
            margin-bottom: 10px;
            color: #444;
        }

        label {
            display: block;
            margin-bottom: 6px;
            margin-top: 15px;
            color: #555;
        }

        input {
            width: 100%;
            padding: 10px;
            margin-bottom: 8px;
            border-radius: 6px;
            border: 1px solid #ccc;
            box-sizing: border-box;
            font-size: 14px;
        }

        button {
            width: 100%;
            padding: 12px;
            border: none;
            border-radius: 8px;
            background-color: #333;
            color: white;
            font-size: 16px;
            cursor: pointer;
            margin-top: 20px;
        }

        button:hover {
            background-color: #636363;
        }

        .param-link {
            text-align: center;
            margin-top: 20px;
            clear: both; /* caso algo esteja flutuando */
            font-size: 15px;
        }

        .param-link a {
            display: inline-block;
            padding: 10px 20px;
            background-color: #333;
            color: white;
            text-decoration: none;
            border-radius: 5px;
        }

        .param-link a:hover {
            background-color: #006d3a;
        }

        .result-container {
            background-color: #8a8069; 
            padding: 30px;
            border-radius: 12px;
            box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
            width: 100%; 
            max-width: 960px;
            display: none;
            transition: all 0.3s ease;
        }

        .result-container h2{
            color: white;
        }

        .result-grid {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            flex-wrap: wrap;
        }

        .result-item {
            background: #b8ab8c;
            padding: 15px;
            border-radius: 8px;
            flex: 1;
            min-width: 200px;
            box-shadow: 0 0 8px rgba(0,0,0,0.05);
            font-family: Calibri;
        }
        
        .result-text {
            margin-top: 20px;
            color: #333;
            font-size: 15px;
        }

        .logout-container {
            position: absolute;
            top: -19px;
            left: 10px;
        }

        .logout-container form {
            margin: 0;
        }

        .logout-container button {
            padding: 10px 20px;
            background-color: #333;
            color: white;
            border: none;
            border-radius: 8px;
            font-size: 14px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .logout-container button:hover {
            background-color: #636363;
        }   

    </style>
{% endblock %}

{% block content %}

<div class="main-content">
    <div class="form-container" id="form-box">
        <h2>Simulação de Viabilidade</h2>
        <form id="form-simulacao">
            <label for="qtde_cartoes">Quantidade de Cartões *</label>
            <input type="number" id="qtde_cartoes" name="qtde_cartoes" required>

            <label for="valor_credito">Valor de Crédito por Cartão (R$) *</label>
            <input type="text" id="valor_credito" name="valor_credito" required>

            <label for="meses">Quantidade de Meses *</label>
            <input type="number" id="meses" name="meses" required>

            <label for="taxa_adm">Taxa adm crédito mensal (%)</label>
            <input type="number" id="taxa_adm" name="taxa_adm" required step="0.01">

            <label for="venda_cartoes">Venda de cartões (R$)</label>
            <input type="text" id="venda_cartoes" name="venda_cartoes" required>



            <h3>Outros Produtos</h3>
            <label for="qtde_cartoes_tag">Número de Cartões TAG *</label>
            <input type="number" id="qtde_cartoes_tag" name="qtde_cartoes_tag" required>

            <label for="rec_tags">Receita de Cartões TAG (R$) *</label>
            <input type="text" id="rec_tags" name="rec_tags" required>

            <label for="qtde_cartoes_eus">Número de Cartões Eu+ Saúde *</label>
            <input type="number" id="qtde_cartoes_eus" name="qtde_cartoes_eus" required>

            <label for="rec_saude">Receita de Cartões Eu+ Saúde (R$) *</label>
            <input type="text" id="rec_saude" name="rec_saude" required>

            <button type="submit"><b>CALCULAR</b></button>
        </form>

    <div class="result-container" id="result-box">
        <h2>Resultado da Simulação</h2>
        <div id="resultado">
            <!-- Exibe os dados aqui -->
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script>
    // Função para esconder o alert após 3 segundos
    setTimeout(function() {
        var alertMessage = document.querySelector('.alert'); // Seleciona o primeiro alert
        if (alertMessage) {
            alertMessage.classList.add('fade-out'); // Adiciona a classe para fazer o fade out
        }
    }, 3000); // O tempo está configurado para 3000ms (3 segundos)


    // Máscara R$
    const camposFormatar = ['valor_credito','rec_tags','rec_saude','venda_cartoes']

    camposFormatar.forEach(id => {
    const campo = document.getElementById(id);
    if (campo) {
        campo.addEventListener('input', function(e) {
            let value = e.target.value.replace(/\D/g, '');
            value = (value / 100).toFixed(2) + '';
            value = value.replace(".", ",");
            value = value.replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.');
            e.target.value = "R$ " + value;
        });
    }
});

    // Submissão do formulário
    document.getElementById('form-simulacao').addEventListener('submit', function(e) {
    e.preventDefault();

    const formatadorBR = new Intl.NumberFormat('pt-BR', {
        style: 'currency',
        currency: 'BRL',
        minimumFractionDigits: 0,
        maximumFractionDigits: 0
    });

    const receitaTagQtdeValue = parseInt(document.getElementById("qtde_cartoes_tag").value);
    const receitaEusQtdeValue = parseInt(document.getElementById("qtde_cartoes_eus").value);
    const meses = parseInt(document.getElementById("meses").value);
    const qtdeCartoes = parseInt(document.getElementById("qtde_cartoes").value);
    const valorCredito = parseFloat(
        document.getElementById("valor_credito").value
            .replace("R$ ", "")
            .replace(/\./g, "")
            .replace(",", ".")
    );
    const receitaTagValue = parseFloat(
        document.getElementById("rec_tags").value
            .replace("R$ ", "")
            .replace(/\./g, "")
            .replace(",", ".")
    );
    const receitaEusValue = parseFloat(
        document.getElementById("rec_saude").value
            .replace("R$ ", "")
            .replace(/\./g, "")
            .replace(",", ".")
    );
    


    if (!isNaN(qtdeCartoes) && !isNaN(valorCredito) && !isNaN(meses) && !isNaN(receitaEusQtdeValue)
    && !isNaN(receitaEusValue) && !isNaN(receitaTagQtdeValue) && !isNaN(receitaTagValue)) {

    // Volume Mensal
    const volumeMensal = qtdeCartoes * valorCredito;

    // Volume Anual
    const volumeAnual = volumeMensal * 12;

    // Volume Contrato
    const volumeContrato = volumeMensal * meses;
    

    // Acessar o Storage Local
    const parametros = JSON.parse(localStorage.getItem("parametrosForm") || "{}");


    // -------------------------------------------------------------------------------------------------------------------------------//
    // RECEITAS PREVISTAS - CARTÃO ELO //

    // Consumo Rede Credenciada
    const redeCredenciadaPercent = parametros?.rede_credenciada || 0;
    const consumoRedeCredenciadaMensal = volumeMensal * (redeCredenciadaPercent / 100); // Mensal
    const consumoRedeCredenciadaAnual = volumeAnual * (redeCredenciadaPercent / 100); // Anual
    const consumoRedeCredenciadaContrato = volumeContrato * (redeCredenciadaPercent / 100); // Contrato

    // Taxa Adm Crédito Mensal
    const taxaAdmPercent = parseFloat(document.getElementById("taxa_adm").value);
    const taxaAdmCreditoMensal = volumeMensal * (taxaAdmPercent / 100); // Mensal
    const taxaAdmCreditoAnual = volumeAnual * (taxaAdmPercent / 100); // Anual
    const taxaAdmCreditoContrato = volumeContrato * (taxaAdmPercent / 100); // Contrato
    
    // Venda Cartões
    const vendaCartoesValue = parseFloat(
        document.getElementById("venda_cartoes").value
            .replace("R$ ", "")
            .replace(/\./g, "")
            .replace(",", ".")
    );
    const vendaCartoesContrato = qtdeCartoes * vendaCartoesValue; // Contrato
    const vendaCartoesAnual = vendaCartoesContrato / (meses / 12); // Anual
    const vendaCartoesMensal = vendaCartoesAnual / 12; // Mensal

    // Total
    const totalReceitasPrevistasMensal = vendaCartoesMensal + taxaAdmCreditoMensal + consumoRedeCredenciadaMensal; // Mensal
    const totalReceitasPrevistasAnual = vendaCartoesAnual + taxaAdmCreditoAnual + consumoRedeCredenciadaAnual; // Anual
    const totalReceitasPrevistasContrato = vendaCartoesContrato + taxaAdmCreditoContrato + consumoRedeCredenciadaContrato; // Contrato
    // -------------------------------------------------------------------------------------------------------------------------------//


    // -------------------------------------------------------------------------------------------------------------------------------//    
    // OUTROS PRODUTOS

    // Receita Tag - Mensalidade PJ
    const receitaTagContrato = receitaTagValue * receitaTagQtdeValue * meses;

    // Despesa TAG - Envio (Custo único por cliente)
    const despesaTagEnvioValue = parametros?.envio_tag || 0;
    const despesaTagEnvioContrato = despesaTagEnvioValue * receitaTagQtdeValue;

    // Despesa TAG - Operação + TAG Fìsica (Custo único por unidade de TAG)
    const despesaTagFisicaValue = parametros?.tag_fisica || 0;
    const despesaTagFisicaContrato = despesaTagFisicaValue * receitaTagQtdeValue;

    // Despesa TAG - Mensalidade Greenpass (Custo Mensal por tag ativa)
    const despesaTagGreenpassValue = parametros?.greenpass || 0;
    const despesaTagGreenpassContrato = despesaTagGreenpassValue * receitaTagQtdeValue * meses;

    // Total despesas
    const totalDespesasTagContrato = despesaTagGreenpassContrato + despesaTagFisicaContrato + despesaTagEnvioContrato; 

    
    // Receita Eu+ Saúde - Mnesalidade PJ
    const receitaEusContrato = receitaEusValue * receitaEusQtdeValue * meses;
    
    // Custo por Vida - Epharma - Mensalidade PJ
    const despesaEpharmaValue = parametros?.epharma || 0;
    const despesaEpharmaContrato = despesaEpharmaValue * receitaEusQtdeValue * meses;

    // Custo por Vida - Telemedicina
    const despesaTelemedicinaValue = parametros?.telemedicina || 0;
    const despesaTelemedicinaContrato = despesaTelemedicinaValue * receitaEusQtdeValue;

    // Custo Cartão - Envio único
    const despesaEnvioValue = parametros?.custo_enviounico || 0;
    const despesaEnvioContrato = despesaEnvioValue * receitaEusQtdeValue;

    // Total despesas
    const totalDespesasEusContrato = despesaEnvioContrato + despesaTelemedicinaContrato + despesaEpharmaContrato;
    // -------------------------------------------------------------------------------------------------------------------------------//

    // -------------------------------------------------------------------------------------------------------------------------------//
    // RESULTADO DE RECEITA CARTÃO + PRODUTOS

    const resultReceitas = totalReceitasPrevistasContrato + receitaTagContrato + receitaEusContrato;
    // -------------------------------------------------------------------------------------------------------------------------------//
    // DESPESAS PREVISTAS - CARTÃO ELO //

    // Confecção dos Cartões 1ª Via
    const confeccaoCartoesValue = parametros?.confeccao || 0;
    const confeccaoCartoesContrato = qtdeCartoes * confeccaoCartoesValue;

    // Custos Operacionais - Processamento
    const custosProcessamentoValue = parametros?.processamento || 0;
    const custosProcessamentoQtdeValue = parametros?.qtde_processamento || 0;
    const custosProcessamentoContrato = (custosProcessamentoValue * custosProcessamentoQtdeValue * qtdeCartoes) * meses;

    // Custo Operacional TAG
    const custoTagValue = parametros?.custo_tag || 0;
    const custoTagQtdeValue = parametros?.qtde_custo_tag || 0;
    const custoTagContrato = (custoTagValue * custoTagQtdeValue * qtdeCartoes) * meses;

    // Custo Operacional Eu+ Saúde
    const custoEusValue = parametros?.custo_eus || 0;
    const custoEusQtdeValue = parametros?.qtde_custo_eus || 0;
    const custoEusContrato = (custoEusValue * custoEusQtdeValue * qtdeCartoes) * meses;

    // Custo Operacional de Investimento (Por Cartão)
    const custoInvestimentoValue = parametros?.investimento || 0;
    const custoInvestimentoContrato = (custoInvestimentoValue * qtdeCartoes);

    // Total
    const totalDespesasPrevistasContrato = custoInvestimentoContrato + custoEusContrato + custoTagContrato + custosProcessamentoContrato + confeccaoCartoesContrato;
    // -------------------------------------------------------------------------------------------------------------------------------//
    
    // -------------------------------------------------------------------------------------------------------------------------------//
    // RESULTADO DE DESPESA CARTÃO + PRODUTOS

    const resultDespesas = custoInvestimentoContrato + totalDespesasTagContrato + totalDespesasEusContrato;
    // -------------------------------------------------------------------------------------------------------------------------------//

    const rentabilidadeIdeal = parametros.rentabilidade_ideal || 0;
    const statusAprovado = parametros.aprovada || 0; 
    const statusIntermediario = parametros.intermediario || 0; 
    const lucroOperacao = resultReceitas - resultDespesas;
    const lucroOperacaoMensal = lucroOperacao / meses;
    const rentabilidadeAtual = (lucroOperacao / volumeContrato) * 100;

    let mensagemNegociacao = '';

    if (rentabilidadeAtual < statusIntermediario) {
    mensagemNegociacao = `
        <div style="background-color: #f8d7da; color: #721c24; padding: 10px; border-radius: 5px; font-weight: bold; text-align: center; height: 20% ;width: 50%; margin: 0 auto;">
            Negociação Negada
        </div>
    `;
    } else if ((rentabilidadeAtual >= statusIntermediario) && (rentabilidadeAtual < statusAprovado)) {
        mensagemNegociacao = `
            <div style="background-color: #fff3cd; color: #856404; padding: 10px; border-radius: 5px; font-weight: bold; text-align: center; height: 20% ; width: 50%; margin: 0 auto;">
                Necessita aprovação superior
            </div>
        `;
    } else if (rentabilidadeAtual >= statusAprovado) {
        mensagemNegociacao = `
            <div style="background-color: #d4edda; color: #155724; padding: 10px; border-radius: 5px; font-weight: bold; text-align: center; height: 20% ; width: 50%; margin: 0 auto;">
                Negociação Aprovada
            </div>
        `;
    }


    document.getElementById("resultado").innerHTML = `
    <div class="result-grid">
        <div class="result-item">
            <p><h3><strong>Volume Mensal</strong><br>${formatadorBR.format(volumeMensal)}</p>
        </div>
        <div class="result-item">
            <p><h3><strong>Volume Anual</strong><br>${formatadorBR.format(volumeAnual)}</p>
        </div>
        <div class="result-item">
            <p><h3><strong>Volume do Contrato</strong><br>${formatadorBR.format(volumeContrato)}</p>
        </div>
        <div style="margin-top: 30px; font-size: 16px; color: #333;">
            <p><h4><strong>Rentabilidade Ideal:</strong><br>${rentabilidadeIdeal}%</p><br>
            <p><h4><strong>Rentabilidade Atual:</strong><br>${rentabilidadeAtual.toFixed(2)}%</p>
        </div>
        ${mensagemNegociacao}<br>
        <button style="font-size: 16px; background-color: #333; color: white; border: none; border-radius: 5px; cursor: pointer;">
            Gravar Proposta
        </button>
        </div>
    </div>
`;


    document.getElementById("result-box").style.display = "block";
} else {
    document.getElementById("resultado").innerHTML =
        "Preencha os campos corretamente.";
    document.getElementById("result-box").style.display = "block";
}
});
</script>
{% endblock %}

